<%= form_for [@entry, @bill] do |f| %>
  <% if @bill.errors.any? %>
    <ul>
      <% @bill.errors.full_messages.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  <% end %>

  <p>
  	<div>*Total Before Coverage </div>
  	<%= f.number_field :total_without_coverage, step: :any, :value => @bill.total_without_coverage %>
  </p>

  <p>
  	<div> Insurance Company </div>
  	<%= f.text_field :insurance_company, :value => @bill.insurance_company%>
  </p>

  <p>
  	<div> Policy Name </div>
  	<%= f.text_field :policy_name, :value => @bill.policy_name %>
  </p>

  <p>
  	<div>*Final Cost</div>
  	<%= f.number_field :final_cost, step: :any, :value => @bill.policy_name%>
  </p>

  <p>
    <%= f.submit "Update Bill" %>
  </p>

<% end %>
