<h3><%= @user.username%> had a</h3>
<h1><%= @entry.procedure_name %></h1>
<h3>in <%= @entry.year %></h3>

<div id="location">
	Location: <%= @entry.city %>, <%= @entry.state %><br>
	Facility name: <%= @entry.facility_name if @entry.facility_name %>
</div>

<% if @entry.details %>
	<p id="details">
		<%= @entry.details %>
	</p>
<% end %><br>

<div id="bills">
  See bill(s) breakdown:
  <% if @entry.bills %>
  	<% count = 1 %>
    <% @entry.bills.each do |bill| %>
      <%= link_to "Bill #{count}", entry_bill_path(bill) %>
      <% count += 1 %>
    <% end %>
  <% end %>
  <%= @creator ? (link_to "Add bill(s)", new_entry_bill_path(@entry)) : "" %>
</div><br>

<footer>
  <% if @entry.created_at.strftime("%m-%d-%Y") != @entry.updated_at.strftime("%m-%d-%Y") %>
	Entry last edited at: <%= @entry.updated_at.strftime("%m-%d-%Y") %>
  <% else %>
    Entry created at: <%= @entry.created_at.strftime("%m-%d-%Y") %><br>
  <% end %>
  <% if @creator %>
  	<%= link_to 'Edit', edit_entry_path(@entry) %>
  	<%= link_to 'Delete this entry', entry_path(@entry), 
  	  method: :delete, 
  	  data: {confirm: "Are you sure you want to delete this entry?" } %>
  <% end %>
</footer>
