<div class="container">

  <div class="row user-info">
    <div class="col-sm-8 col-sm-offset-2">
      <%if @user == current_user%>
        <div class="col-sm-12 buttons">
          <button class="btn btn-md profile-btns"><%=link_to 'Add Entry', new_entry_path%></button>
          <button class="btn btn-md profile-btns"><%=link_to 'Edit Profile', edit_user_path%></button>
          <button class="btn btn-md profile-btns"><%=link_to 'New Search', root_url%></button>
        </div>
      <%end%>

      <div class="col-sm-12 text-center">
        <%if @user.medical_professional%>
          <div><%=image_tag("Caduceus.png", size: "50")%></div>
        <%end%>
        <h3><span class="text-bold"><%=@user.username%></span>, <%=@age%></h3>
        <div id="bio"><em><%=@user.bio%></em></div>
        <div><span class="text-bold">Location:</span> <%=@user.city%>, <%=@user.state%></div>
        <div><span class="text-bold">Ethnicity/Race:</span> <%=@user.race%></div>
        <div><span class="text-bold">Insurance Company:</span> <%=@user.insurance_company%></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4 text-center entries">
      <h3 class="text-bold">Entries</h3>
        <%@user.entries.each do |e|%>
          <div class="col-sm-12 entry">
            <div><%=e.year %></div>
            <div><%=e.procedure_name%></div>
            <div class="entry-btns">
              <%=link_to '<i class="fa fa-eye" aria-hidden="true"></i>'.html_safe, e%>
              <%if @user == current_user%>
                <%=link_to '<i class="fa fa-pencil" aria-hidden="true"></i>'.html_safe, "/entries/#{e.id}/edit"%>
                <%=link_to "<i class='fa fa-trash-o' aria-hidden='true'></i>".html_safe, e, method: :delete, data: { confirm: "Are you sure you want to delete this?" }%>
              <%end%>
            </div>
          </div>
        <%end%>
    </div>
  </div>
</div>
