<%= form_for [@entry, @bill] do |f| %>
  <% if @bill.errors.any? %>
    <ul>
      <% @bill.errors.full_messages.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  <% end %>

  <p>
  	<%= f.label :total_without_coverage %>
  	<%= f.number_field :total_without_coverage, step: :any %>
  </p>

  <p>
  	<%= f.label :insurance_company %>
  	<%= f.text_field :insurance_company, :value => @user_insurance_co %>
  </p>

  <p>
  	<%= f.label :policy_name %>
  	<%= f.text_field :policy_name, :value => @user_policy_name %>
  </p>

  <p>
  	<%= f.label :final_cost %>
  	<%= f.number_field :final_cost, step: :any %>
  </p>

  <p>
    <%= f.submit "Add items to bill" %>
  </p>

<% end %>