<div class="container">
  <div class="row">
  <h1 class="text-center"><%=@bill.entry.procedure_name%> Bill</h1>
    <div class="col-sm-6 col-sm-offset-3">
      <p id="total-without-coverage"> <br><br><br>Total without coverage: $<%= number_with_precision(@bill.total_without_coverage, precision: 2)%></p>
        <% if @bill.insurance_company != " "%>
      <p id="insurance-company"> Insurance Company: <%= @bill.insurance_company %> </p>
      <% if @bill.policy_name != ""%>
      <p id="policy-name"> Policy: <%= @bill.policy_name %> </p>
      <% end %>
      <% end %>
      <p id="final-cost"> Final cost: $<%=number_with_precision(@bill.final_cost, precision: 2)%> </p>

      <div id="bill-items">
        <% if @items != []%>
        <p><strong> Item Breakdown: </strong></p>
        <% count = 1 %>
          <% @items.each do |item| %>
            <div class="item" id="item-#{count}">
            Item: <%= item.item_name %><br>
            Price: $<%= number_with_precision(item.price, precision: 2)%><br>
            Quantity: <%= item.quantity ? item.quantity : "N/A" %><br>
            <% if @creator == current_user %>
              <%= link_to 'Edit', edit_bill_item_path(@bill, item) %><br>
              <%= link_to 'Delete', bill_item_path(@bill, item),
              method: :delete,
              data: {confirm: "Are you sure you want to delete this item?" } %>
            <% end %>
            <% count += 1 %>
            <br><br>
            </div>
          <% end %>
        <% else %>
          <div> No items yet.</div>
        <% end %>
        <%= @creator == current_user ? (link_to "Add Item", new_bill_item_path(@bill)) : "" %><br><br>
      </div>

      <footer>
        <% if @bill.created_at.strftime("%m-%d-%Y") != @bill.updated_at.strftime("%m-%d-%Y") %>
      	Updated: <%= @bill.updated_at.strftime("%m/%d/%Y") %>
        <% else %>
        Created: <%= @bill.created_at.strftime("%m/%d/%Y") %><br>
        <% end %>

        <% if @creator  == current_user %>
        	<%= link_to 'Edit Bill', edit_entry_bill_path(@bill) %><br>
        	<%= link_to 'Delete Bill', entry_bill_path(@bill),
        	  method: :delete,
        	  data: {confirm: "Are you sure you want to delete this bill?" } %>
        <% end %>
      </footer>
    </div>
    </div>
</div>
