<%= bootstrap_form_for [@bill, @item] do |f| %>
  <% if @item.errors.any? %>
    <ul>
      <% @item.errors.full_messages.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  <% end %>

  <div>You don't have to follow the item description to the letter! Write it in a way that others can understand - no need for medical-babble!</div>
  <div>Areas with asterisks are mandatory.</div>
  	<%= f.text_field :item_name, label:"*Item Name" %>
    <%= f.number_field :price, step: :any, label:"Price (USD)"%>
    <%= f.number_field :quantity %>
    <%= f.submit "Submit Item" %>

<% end %>
