<!DOCTYPE html>
<html>
  <head>
    <title>LadyProblemsNYCHack2016</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  	<div class="form-group" id="search-form">
      <%= render 'searches/search' %>
    </div> 
    <%= yield %>
  </body>
</html>
