<!DOCTYPE html>
<html>
  <head>
    <title>LadyProblemsNYCHack2016</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav>
      <% if logged_in? %>
        <%=link_to "logout", logout_path, method:"delete"%>
      <% else %>
        <%=link_to "register", new_user_path%>
        <%=link_to "login", login_path%>
      <% end %>
    </nav>

    <%= yield %>
  </body>
</html>
